@font-face {
  font-family: 'Noto Sans SC';
  src: url('/fonts/Noto_Sans_SC/NotoSansSC-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('/fonts/Noto_Sans_SC/NotoSansSC-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('/fonts/Noto_Sans_SC/NotoSansSC-Bold.otf');
  font-weight: bold;
  font-style: normal;
}