// base colors
$white: #ffffff;
$black: #000000;
$dark-blue: #25325F;

// dark-blue
$dark-blue-1000: #1B4F97;
$dark-blue-900: #3261A1;
$dark-blue-800: #4972AC;
$dark-blue-700: #5F84B6;
$dark-blue-600: #7695C1;
$dark-blue-500: #8DA7CB;
$dark-blue-400: #A4B9D5;
$dark-blue-300: #BBCAE0;
$dark-blue-200: #D1DCEA;
$dark-blue-100: #E8EDF5;
$dark-blue-50: #F4F6FA;

// light-blue
$light-blue-1000: #48A8E0;
$light-blue-900: #5AB1E3;
$light-blue-800: #6DB9E6;
$light-blue-700: #7FC2E9;
$light-blue-600: #91CBEC;
$light-blue-500: #A3D3EF;
$light-blue-400: #B6DCF3;
$light-blue-300: #C8E5F6;
$light-blue-200: #DAEEF9;
$light-blue-100: #EDF6FC;
$light-blue-50: #F6FBFD;

// dark-grey
$dark-grey-1000: #2F363D;
$dark-grey-900: #33485e;
$dark-grey-800: #595E64;
$dark-grey-700: #6D7277;
$dark-grey-600: #82868B;
$dark-grey-500: #979A9E;
$dark-grey-400: #ACAFB1;
$dark-grey-300: #C1C3C5;
$dark-grey-200: #D5D7D8;
$dark-grey-100: #EAEBEC;
$dark-grey-50: #F5F5F5;

// light-grey
$light-grey-1000: #9BA1B5;
$light-grey-900: #A5AABC;
$light-grey-800: #AFB3C3;
$light-grey-700: #B9BDCB;
$light-grey-600: #C3C6D2;
$light-grey-500: #CDD0DA;
$light-grey-400: #D7D9E1;
$light-grey-300: #E1E3E9;
$light-grey-200: #EBECF0;
$light-grey-100: #F5F6F8;
$light-grey-50: #FAFAFB;

// red
$red-1000: #F24338;
$red-900: #F4564B;
$red-800: #F5685F;
$red-700: #F67B73;
$red-600: #F78E87;
$red-500: #F9A19B;
$red-400: #FAB4AF;
$red-300: #FBC7C3;
$red-200: #FCD9D7;
$red-100: #FEECEB;
$red-50: #FEF6F5;

// green
$green-1000: #5AA04E;
$green-900: #6AAA60;
$green-800: #7BB372;
$green-700: #8BBD83;
$green-600: #9CC695;
$green-500: #ACD0A7;
$green-400: #BDD9B8;
$green-300: #CDE3CA;
$green-200: #DEECDC;
$green-100: #EEF6ED;
$green-50: #F7FAF6;

// orange
$orange-1000: #FFA318;
$orange-900: #FFAC30;
$orange-800: #FFB547;
$orange-700: #FFBF5E;
$orange-600: #FFC875;
$orange-500: #FFD18C;
$orange-400: #FFDAA3;
$orange-300: #FFE3BA;
$orange-200: #FFEDD1;
$orange-100: #FFF6E8;
$orange-50: #FFFAF3;